/* Colors to be used */
:root {
--skyblue:#66E2DC;
--orange:#FA7453;
--yellow:#FFB964;
--white:#FCFAF9;
--black:#191826;
}
/* Repeating styles */
a {
    text-decoration: none;
}
h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
font-size: 6vw;
line-height: 100%;
}
h2 {
    font-size: 3.4vw;
}


body {
    margin: 0;
    background-image: url(./assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    font-size: 20px;
    font-family: "IBM Plex Sans", sans-serif;
}
.sr-only {
    position: absolute;
    /* overflow: hidden; */
    clip: rect(0, 0, 0, 0);
}
/*--Nav --*/
.logo-container {
    width: 80vw;
    margin: 0 auto;
}
nav > .logo-container > .logo {
    padding-top: 50px;
    width: 145px;
    height: 32px;
}
.img-container {
    overflow: hidden;
    width: fit-content;
    float: right;
  }
.first-pattern {
    float: right;
    margin-top: -45px;
    width: 312px;
    height: 430px
}
/*--Header--*/
header {
    height: 500px;
    margin-top: 80px;
}
.header-container {
    width: 80vw;
    height: 70%;
    margin: auto;
}
.header-context {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}
.p-header{
    width: 80%;
}


/*--Main--*/
.main-container {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    width: 80vw;
    margin: 60px auto 200px auto;
    height: 600px;
    border-radius: 12px;
}
.second-pattern {
    position: relative;
    width: 250px;
    height: 425px;
    top: 0px;
    left: -20px;
}
.phone {
    position: relative;
    width: 280px;
    height: 550px;
    z-index: 2;
    top: -110px;
    left: 45px;
}
.card-container {
    background-color: var(--orange);
    color: var(--white);
    width: 30vw;
    height:fit-content;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    position: relative;
    right: 80px;
    top: 150px;
}

.four-dollar {
    font-size: 4.5vw;
}
.card-container > .second-card-container a {
    display: flex;
    font-size: 18px;
    border-radius: 12px;
    width: auto;
    height: 61px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.apple {
    background-color: var(--black);
    color: var(--white);
}
.apple:hover{
    background-color: var(--skyblue);
}
.android {
    color: var(--black);
    background-color: var(--white);
}
.android:hover{
    background-color: var(--yellow);
}

/*--Footer--*/
footer {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
}

.footer-text > p {
    margin: 0;
}
.footer-text {
    width: 366px;
    margin: 0;
}
.icons-container {
    width: 100px;
}
.icons-container > a > img {
    padding: 0 5px;
}




/*--Tablet Version--*/
@media (min-width: 500px) and (max-width: 951px){
    h1 {
        font-size: 8vw;
        }
    h2 {
        font-size: 4.8vw;
    }

body {
    background-image: url(./assets/bg-main-tablet.png);
    background-size: contain;
}

/*--Nav --*/
.logo-container {
    width: 90vw;
}
.first-pattern {
    margin-right: -30px;
    width: 231px;
    height: 368px;
}
/*--Header--*/
.header-container {
    width: 90vw;
}
.p-header{
    width: 100%;
}
/* Main */
.main-container {
    background-color: var(--black);
    width: 90vw;
    height: 600px;
    border-radius: 12px;
}
.phone {
    z-index: 1;
    left: 165px;
}
.second-pattern {
    position: relative;
    width: 225px;
    height: 425px;
    top: 0px;
    left: 90px;
}
.card-container {
    width: 45vw;
    right: 170px;
    top: 170px;
    z-index: 2;
    flex: 0 0 auto; /* This will stop it from shrinking because the first 0 is grow the second 0 is shrink, if it was 1 which is the default it would shrink. Applying this allowed me to do a fix width whilst still having flex */
}
.four-dollar {
    font-size: 7vw;
}

/* Footer */
footer {
    width: 90vw;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    margin: 50px auto;
}
.footer-text {
    margin: 30px 0 -30px;
    text-align: left;
}
.icons-container {
    margin-left: auto;
}
}


/*--Mobile Version--*/
@media (min-width: 100px) and (max-width: 499px){
   
    h1 {
        font-size: 13vw;
    }
    h2 {
        font-size: 12vw;
    }

body {
    background-image: url(./assets/bg-main-mobile.png);
    background-size: contain;
    background-position: top right;
   
}

/* nav */ 
.img-container {
    display: none;
}

/* Header */
header {
    margin-top: 50px;
}

/* Main */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 175px 0 500px 0;
    height: 500px;
}
.second-pattern {
    left: 0px;
    top: 0px;
    max-width: 80%;
    min-width: 275px;
    width: 90%;
}
.phone {
    z-index: 2;
    left: 0px;
    top: 350px;
    max-width: 65%;
    min-width: 240px;
    width: 80%;
}
.card-container {
    width: 90%;
    margin: 0;
    flex: 0 0 auto;
    top: -20px;
    right: 0px;
    padding: 5%;
}
.four-dollar {
    font-size: 15vw;
}

.card-container > .second-card-container a {
    width: 85%;
}


/* Footer */
footer {
    width: 90%;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    margin: 50px auto;
}
.footer-text {
    width: 100%;
    text-align: left;
    padding-top: 10px;
}
.icons-container {
    padding-top: 15px;
}
} 